MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_QOS=1

COUNTRY=brazil
WAREHOUSES=wh-01,wh-02
TEMP_THRESHOLD=29
HUMIDITY_THRESHOLD=55
TEMP_TOLERANCE=3
HUMIDITY_TOLERANCE=2

PUBLISH_INTERVAL=30
ANOMALY_PROBABILITY=0.1
# RANDOM_SEED=42
