parameters:
	ignoreErrors:
		-
			message: '#^Class App\\Controller\\Admin\\AlertCrudController extends generic class EasyCorp\\Bundle\\EasyAdminBundle\\Controller\\AbstractCrudController but does not specify its types\: TEntity$#'
			identifier: missingType.generics
			count: 1
			path: src/Controller/Admin/AlertCrudController.php

		-
			message: '#^Class App\\Controller\\Admin\\BatchCrudController extends generic class EasyCorp\\Bundle\\EasyAdminBundle\\Controller\\AbstractCrudController but does not specify its types\: TEntity$#'
			identifier: missingType.generics
			count: 1
			path: src/Controller/Admin/BatchCrudController.php

		-
			message: '#^Class App\\Controller\\Admin\\CountryCrudController extends generic class EasyCorp\\Bundle\\EasyAdminBundle\\Controller\\AbstractCrudController but does not specify its types\: TEntity$#'
			identifier: missingType.generics
			count: 1
			path: src/Controller/Admin/CountryCrudController.php

		-
			message: '#^Class App\\Controller\\Admin\\ExploitationCrudController extends generic class EasyCorp\\Bundle\\EasyAdminBundle\\Controller\\AbstractCrudController but does not specify its types\: TEntity$#'
			identifier: missingType.generics
			count: 1
			path: src/Controller/Admin/ExploitationCrudController.php

		-
			message: '#^Class App\\Controller\\Admin\\MeasureCrudController extends generic class EasyCorp\\Bundle\\EasyAdminBundle\\Controller\\AbstractCrudController but does not specify its types\: TEntity$#'
			identifier: missingType.generics
			count: 1
			path: src/Controller/Admin/MeasureCrudController.php

		-
			message: '#^Class App\\Controller\\Admin\\ResponsibleCrudController extends generic class EasyCorp\\Bundle\\EasyAdminBundle\\Controller\\AbstractCrudController but does not specify its types\: TEntity$#'
			identifier: missingType.generics
			count: 1
			path: src/Controller/Admin/ResponsibleCrudController.php

		-
			message: '#^Class App\\Controller\\Admin\\SensorCrudController extends generic class EasyCorp\\Bundle\\EasyAdminBundle\\Controller\\AbstractCrudController but does not specify its types\: TEntity$#'
			identifier: missingType.generics
			count: 1
			path: src/Controller/Admin/SensorCrudController.php

		-
			message: '#^Class App\\Controller\\Admin\\UserCrudController extends generic class EasyCorp\\Bundle\\EasyAdminBundle\\Controller\\AbstractCrudController but does not specify its types\: TEntity$#'
			identifier: missingType.generics
			count: 1
			path: src/Controller/Admin/UserCrudController.php

		-
			message: '#^Class App\\Controller\\Admin\\WarehouseCrudController extends generic class EasyCorp\\Bundle\\EasyAdminBundle\\Controller\\AbstractCrudController but does not specify its types\: TEntity$#'
			identifier: missingType.generics
			count: 1
			path: src/Controller/Admin/WarehouseCrudController.php

		-
			message: '#^Property App\\Entity\\Alert\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Alert.php

		-
			message: '#^Property App\\Entity\\Batch\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Batch.php

		-
			message: '#^Property App\\Entity\\Country\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Country.php

		-
			message: '#^Property App\\Entity\\Exploitation\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Exploitation.php

		-
			message: '#^Property App\\Entity\\Measure\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Measure.php

		-
			message: '#^Property App\\Entity\\Responsible\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Responsible.php

		-
			message: '#^Property App\\Entity\\Sensor\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Sensor.php

		-
			message: '#^Property App\\Entity\\User\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Property App\\Entity\\Warehouse\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Warehouse.php
